
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>  
    <div class="container">
        <a href="/Profile/login" class="btn btn-warning btn-sm float-right">
            <i class="fas fa-user"></i> Go To Profile
        </a>
    </div> 
    <div class="login">
        <h1>Login Adminpanel</h1>
        <form method="post" action="/Admin/AdminLogin/Login">
            <input type="text" name="admin_email" placeholder="Username" required="required" />
            <input type="password" name="admin_password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Log In <i class="fas fa-sign-in-alt"></i></button>
            @if (ViewBag.error != null)
            {
                <label style="margin-top:10px" class="alert alert-danger">@ViewBag.error</label>
            }
        </form>
        <br>
    </div>

    <script src="~/Assets/js/jquery.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>